{% extends "./base.html" %}

{% block breadcrumb%}
<li class="breadcrumb-item "><a href="{% url 'ViewAssignment' %}"> All Assignments</a></li>
<li class="breadcrumb-item "><a href="{% url 'course_detail' assignment.course_id %}">Course Specific Assignments</a></li>
<li class="breadcrumb-item active">Question list</li>
{%endblock%}

{% block content %}
  <h1>Course:{{assignment.course }}</h1>

  <p><strong>Assignment:</strong> {{ assignment.number }}</p>
  <p><strong>publish_date:</strong> {{ assignment.publish_date }}</p>
  <p><strong>deadline:</strong> {{assignment.deadline_date}}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Questions</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Question Title</th>
          <th scope="col">Question Marks</th>
          <th scope="col">Edit Question</th>
          <th scope="col">Delete Question</th>
          <th scope="col">View Submitted Answers</th>
          <th scope="col">Model Answer</th>
        </tr>
      </thead>
      <tbody>
        {% for question in assignment.question_set.all %}
        <tr>
          <td>{{ question.title }}</td>
          <td>{{ question.marks }}</td>
          <td> <a href="{% url 'UpdateQuestion'  assignment.id question.id %}">Edit</a> </td>
          <td> <a onclick="return confirm('Are you sure?');" href="{% url 'DeleteQuestion'  assignment_pk=assignment.id pk=question.id %}">Delete</a></td>
          <td> <a href="{% url 'AllSubmittedAnswers' question.id %}">View all answers</a></td>
          <td><a href="{% url 'viewModelAnswer' question.id %}">Model Answer</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- Button trigger modal -->
<a class=" btn btn-primary" href="{% url 'CreateQuestion' pk=assignment.id %}">Add Question</a>
  </div>






{% endblock %}
{% block script %}

{% endblock %}
