{% extends "./base.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'ViewAssignment' %}"> All Assignments</a></li>
<li class="breadcrumb-item "><a href="{% url 'course_detail' question.assignment.course_id %}">Course Specific Assignments</a></li>
<li class="breadcrumb-item active"><a href="{% url 'assignment_detail' question.assignment.id %}">Questions list</a></li>
<li class="breadcrumb-item active">Model Answer</li>
{% endblock %}

{% block content %}
<textarea name="modelAnswer" rows="15" cols="80" disabled>
  {{modelAnswer}}
</textarea>
<br>
<a class="btn btn-primary" href="{% url 'generateModelAnswer' id %}">Generate Model Answer</a>

<div class="">
  <h5>If you experience error 500, please add the model answer manually. Sometimes this module do not work due to network communication error or
  probably because source website is not allowing web-scraping.</h5>
</div>

{% endblock %}
