{% extends "index_base.html" %}

{% block content %}
<div class="container" >
  <div class="QABox">
      <h3 class="question">Question : {{ question }}</h3>
      <hr>
        <div class="quesInfo">
        <span><strong>Assignment no.</strong>{{ question.assignment.number }}</span><br>
        <span><strong>Subject : </strong>{{ question.assignment.course }}</span><br>
        <span><strong>Year / Branch / Semester : </strong>{{question.assignment.course.year}}/{{question.assignment.course.branch.get}} / {{question.assignment.course.semester}}</span><br>
        <span><strong>Expected marks : </strong>{{question.marks}}</span><br>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">Answer</button>
      </div>
        <div class="answersSection">
          <hr>
            <h3>Answers</h3>
            <hr>
            {% for answer in question.answer_set.all %}
            <section class="mt-5">
              {% load static %}
              <!-- <span><img  src='{%static "images/img_avatar.png" %}' class="userProfileImg"></span> -->
              <span><i class="far fa-user"></i></span>
              <span class="userProfileDetails">{{answer.username.first_name}} {{answer.username.last_name}} | {{answer.username.student.year }} - {{answer.username.student.branch }} <br>written on {{answer.date}}</span>
            </section>
            <hr>
          <div class="answer">{{answer.answer_txt}}</div>
              <hr>
            {% endfor %}
        </div>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{question.title}}</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Enter Answer</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>

{% endblock %}
