{% extends "./base.html" %}

{% block breadcrumb%}
<li class="breadcrumb-item "><a href="{% url 'AllAssignment' %}">Assignments</a></li>
<li class="breadcrumb-item "><a href="{% url 'student_course_detail' assignment.course_id %}">Course Specific</a></li>
<li class="breadcrumb-item"><a href="{% url 'student_assignment_detail' assignment.id %}">Question list</a></li>
<li class="breadcrumb-item active">Your answer</li>
{%endblock%}

{% block content %}

  {% if answer %}
  <div class="container">
    <h1 class="mx-2" style="font-family : serif;" >Q:{{question}}</h1>
    <hr>
    <h5><b>Your answer :</b></h5>

    <p class="mx-4 overflow-auto">{{answer.answer_txt}}</p>

    {% else %}
        <p class="mx-4">There is no answer added yet for this question !</p>
    {% endif %}

  </div>


{% endblock %}
