{% extends "./base.html" %}

{% block breadcrumb%}
<li class="breadcrumb-item "><a href="{% url 'AllAssignment' %}"> All Assignments</a></li>
<li class="breadcrumb-item "><a href="{% url 'student_course_detail' assignment.course_id %}">Course Specific</a></li>
<li class="breadcrumb-item active">Question list</li>
{%endblock%}

{% block content %}
  <h1>Course:{{assignment.course }}</h1>

  <p><strong>Assignment:</strong> {{ assignment.number }}</p>
  <p><strong>publish date:</strong> {{ assignment.publish_date }}</p>
  <p><strong>deadline:</strong> {{assignment.deadline_date}}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Questions</h4>
    {% if assignment.question_set.all %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Question Title</th>
          <th scope="col">Question Marks</th>
          <th scope="col">Write Answer</th>
          <th scope="col">Answer Status</th>
          <th scope="col">View Answer</th>
        </tr>
      </thead>
      <tbody>
        {% for question in assignment.question_set.all %}


        <tr>
          <td style="font-family : serif;" >{{ question.title }}</td>
          <td>{{ question.marks }}</td>


          <td><a class="btn btn-primary"  href="{% url 'CreateAnswer' pk=question.id %}" >Add Answer</a></td>
          {% for answer in answers %}
          {% ifequal  answer.question question %}
          <td>{{answer.status}}</td>
          <td><a class="btn btn-primary"  href="{% url 'student_answer' apk=assignment.id pk=question.id %}">View Answer</a></td>
          {% endifequal %}
          {% endfor %}







        </tr>

      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no questions added yet !</p>
    {% endif %}
  </div>






{% endblock %}
{% block script %}

{% endblock %}
