{% extends "./base.html" %}
{% block breadcrumb%}
<li class="breadcrumb-item active">Assignments</li>
{%endblock%}
{% block content %}

{% if assignment_list %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Assignment No.</th>
        <th scope="col">Course</th>
        <th scope="col">publish date</th>
        <th scope="col">Deadline Date</th>
        <th scope="col">Questions</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in assignment_list %}
      <tr>
        <td>{{ assignment.number }}</td>
        <td>{{ assignment.course }}</td>
        <td>{{ assignment.publish_date }}</td>
        <td>{{ assignment.deadline_date }}</td>
        <td><a href="{% url 'student_assignment_detail' assignment.id %}">View Questions</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no assignments added yet !</p>
  {% endif %}
{% endblock %}
